*~
\#*\#
*.elc
auto-save-list
ac-comphist.dat
ac-dict
backups
elpa/archives
tramp
.\#*
local.el
private.el
.cask
eshell/history
eshell/lastdir
request/
url/
*.desktop
*.lock
ido.last
recentf
.mc-lists.el
session.*
.cache
bookmarks
cider-history
eproject.lst
places
projectile-bookmarks.eld
lib/*.el
abbrev_defs
projectile.cache
smex-items
network-security.data
