[submodule "vendor/moe-theme.el"]
	path = vendor/moe-theme.el
	url = git@github.com:kuanyui/moe-theme.el.git
[submodule "cider"]
	path = cider
	url = git@github.com:clojure-emacs/cider.git
[submodule "vendor/zenburn-emacs"]
	path = vendor/zenburn-emacs
	url = git@github.com:bbatsov/zenburn-emacs.git
