[submodule "vendor/moe-theme.el"]
	path = vendor/moe-theme.el
	url = git@github.com:kuanyui/moe-theme.el.git
[submodule "vendor/zenburn-emacs"]
	path = vendor/zenburn-emacs
	url = git@github.com:bbatsov/zenburn-emacs.git
[submodule "vendor/zerodark-theme"]
	path = vendor/zerodark-theme
	url = git@github.com:NicolasPetton/zerodark-theme.git
[submodule "vendor/origami.el"]
	path = vendor/origami.el
	url = https://github.com/gregsexton/origami.el.git
